<div class="col-md-2 bg-light full-height-col">
    <ul class="nav flex-column custom-nav">
        <ul class="nav flex-column custom-nav">
            <li class="nav-item">
            <a class="nav-link top-nav" href="/client">Clients</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/address">Address</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/project">Projects</a>
            </li>
        </ul>
    </ul>
</div>