<ul class="nav flex-column custom-nav">
    <li class="nav-item">
    <a class="nav-link top-nav" href="http://localhost:3000/client">Clients</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/address">Addresss</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
    </li>
</ul>