<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %></title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<link rel='stylesheet' href='/public/stylesheets/style.css' />
<style>
  .scrollable-column {
    max-height: 400px;  /* Adjust this value according to your preference */
    overflow-y: auto;
  }
</style>
</head>

<body>
  <div class="container-fluid my-2">
    <div class="row">
      <!-- Added Navbar Here -->
      <div class="col-md-2 bg-light full-height-col">
        <ul class="nav flex-column custom-nav">
          <li class="nav-item">
            <a class="nav-link top-nav" href="#">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clients</a>
          </li>
        </ul>
      </div>
      <div class="col-md-7 info-table">
        <h3 class ="table-title">Clients</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Project Name</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Client A</td>
              <td>Project X</td>
              <td>01/01/2023</td>
              <td>01/06/2023</td>
            </tr>
            <tr>
              <td>Client B</td>
              <td>Project Y</td>
              <td>02/01/2023</td>
              <td>03/01/2023</td>
            </tr>
            <!-- ... (add more rows as needed) ... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>


      <% trips.forEach(function(trip){ %>
    <div>
      <div>
        <label>Ride ID: <output><%= trip.ride_id %></output> </label>
      </div>
      <div>
        <label>started_at: <output><%= trip.started_at %></output> </label>
      </div>
    </div>
    <hr />
    <% }); %>

    
</body>
</html>
