<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <ul>

  <% tripdata.forEach(function(trip){ %>

    <div>
      <label> Ride ID: trip.ride_id</label>
    </div>

    <div>
      <label> Ride ID:  <output> trip.ride_id </output> </label>
    </div>
    <hr>

    

  <% }); %>

  </ul>

  </body>
</html>
