body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(68,70,84,255);
  color: white;
}

/* a {
  color: #00B7FF;
} */

/* Ensure the image takes the full height of its container */
.img-fluid.h-100 {
    right: 0;         /* Positioned to the right edge of the viewport */
    bottom: 0; 
}

/*👉* {
    border: 1px solid red;  ➡ This will add a red border around all elements ⬅
} 
👈*/


.scrollable-column {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6; /* Border color taken from Bootstrap's Card component */
    border-radius: .25rem; /* Border radius taken from Bootstrap's Card component */
    padding: 1rem;


}
.scrollable-column li {
    margin-bottom: 7px; /* Adjust as needed */
}

/* Custom scrollbar styles */
.scrollable-column::-webkit-scrollbar {
    width: 12px;
}

.column-content {
    height: 400px; /* Adjust as needed */
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid #956581; /* Border color taken from Bootstrap's Card component */
    border-radius: .35rem; /* Border radius taken from Bootstrap's Card component */
}

.nav-item {
    margin-bottom: 20px;  /* Adjust this value according to your preference */
    /* margin-top: 120px; */
    
}

.top-nav{
    margin-top: 300px;
}


.table-title{
    text-align: center; /* This centers the text horizontally */
}

.info-table{
    margin-left: 20%;

}

.custom-table tr:hover {
    background-color: #444444;  /* light hover effect */
}

.custom-table th, .custom-table td {
    padding: 12px 15px;
    border: 1px solid #cf8989;
    text-align: left;
    color: #dee2e6;
}

.bg-light {
    min-height: 400px;
    position: fixed;
    left: 0;  /* Align to the left of the viewport */
    top: 0;   /* Align to the top of the viewport */
}

.full-height-col {
    height: 100vh; /* This will make the column take the full viewport height */
    width: 150px;
    background-color: #2b1010; 
}

.col-md-2.bg-light.full-height-col {
    background-color: rgb(32,33,35,255) !important;
    
}

.nav-link {
    color: white !important;
}

.btn {
    color: white !important;
    background-color: rgb(52,53,65,255);
}
